<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet/less" type="text/css" href="styles.less"/>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.1/less.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    </head>
    <body ng-app="echo-led-simulator" ng-controller="EchoLedSimulatorController">
        <div id="container">
            <div id="pcb-preview-layer-checkbox-group">
                <input type="checkbox" ng-model="showPcb" checked="checked"> Show PCB preview
            </div>
            <div id="leds-layer-checkbox-group">
                <input type="checkbox" ng-model="showLeds" checked="checked"> Show LEDs
            </div>
            <div id="echo-background"></div>
            <div id="echo-pcb" ng-show="showPcb"></div>
            <div id="leds" ng-show="showLeds">
                <div id="led1" class="led"></div>
                <div id="led2" class="led"></div>
                <div id="led3" class="led"></div>
                <div id="led4" class="led"></div>
                <div id="led5" class="led"></div>
                <div id="led6" class="led"></div>
                <div id="led7" class="led"></div>
                <div id="led8" class="led"></div>
                <div id="led9" class="led"></div>
                <div id="led10" class="led"></div>
                <div id="led11" class="led"></div>
                <div id="led12" class="led"></div>
            </div>
        </div>
    </body>
    <script src="js/controller.js"></script>
</html>